openapi: 3.2.0
info:
  title: Waodao Art Chain API
  version: 1.0.0
  contact:
    name: WAODAO
    url: https://waodao.ai/ai-agents
    email: info@waodao.ai
  description: 'Operations tagged ArtChain across 2 of this provider''s published API definitions: waodao-agent-api-openapi-3.0.json, waodao-agent-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://waodao.ai
  description: WAODAO production API
security: []
tags:
- name: ArtChain
  description: Traverse the daily Human + AI ArtChain.
paths:
  /api/v1/waodao/index:
    servers:
    - url: https://waodao.ai
      description: WAODAO production API
    get:
      operationId: listArtChainDays
      x-capability: waodao.artchain.index.read
      tags:
      - ArtChain
      summary: List published WAODAO ArtChain days
      description: Returns the compact prebuilt collection index. Start here for complete traversal and cache this response instead of crawling individual pages.
      responses:
        '200':
          description: Compact ArtChain index snapshot.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
              examples:
                live:
                  summary: Live WAODAO response
                  externalValue: https://waodao.ai/api/v1/waodao/index
  /api/v1/waodao/latest:
    servers:
    - url: https://waodao.ai
      description: WAODAO production API
    get:
      operationId: getLatestArtChainDay
      x-capability: waodao.artchain.latest.read
      tags:
      - ArtChain
      summary: Get the latest published WAODAO day
      description: Returns the same metadata shape as the token endpoint for the newest published ArtChain day.
      responses:
        '200':
          description: Latest published token metadata.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              examples:
                live:
                  summary: Live WAODAO response
                  externalValue: https://waodao.ai/api/v1/waodao/latest
        '404':
          description: No published days were found.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: No published WAODAO days found
                code: 404
components:
  schemas:
    TokenResponse:
      type: object
      required:
      - project
      - schema
      - schema_url
      - day
      - date
      - timestamp
      - name
      - description
      - image
      - external_url
      - real_artwork
      - bonus_tokens
      - links
      - attributes
      - waodao
      - market
      - news
      - trends
      - source
      properties:
        project:
          type: string
          example: WAODAO
        schema:
          type: string
          example: waodao-token@1
        schema_url:
          type: string
          format: uri
        day:
          type: integer
          minimum: 1
          example: 1
        date:
          type:
          - string
          - 'null'
          format: date
        timestamp:
          type:
          - integer
          - 'null'
        name:
          type: string
          example: 'WAO ART #1'
        description:
          type: string
        image:
          type:
          - string
          - 'null'
          format: uri
        external_url:
          type: string
          format: uri
        real_artwork:
          type: boolean
        bonus_tokens:
          type:
          - integer
          - 'null'
        links:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
            format: uri
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
        waodao:
          type: object
          properties:
            schema:
              type: string
            schema_url:
              type: string
              format: uri
            version:
              type: string
            type:
              type: string
            day:
              type: integer
            links:
              type: object
              additionalProperties:
                type:
                - string
                - 'null'
                format: uri
            hashes:
              type: object
              additionalProperties:
                type:
                - string
                - 'null'
          additionalProperties: true
        market:
          type: object
          properties:
            chain:
              type: string
            chain_id:
              type: integer
            contract:
              type: string
            token_id:
              type: string
            sale_status:
              type: string
            sale_type:
              type:
              - string
              - 'null'
            winner_bid_eth:
              type:
              - string
              - 'null'
            collector_address:
              type:
              - string
              - 'null'
            sale_transaction_url:
              type:
              - string
              - 'null'
              format: uri
            drop_transaction_url:
              type:
              - string
              - 'null'
              format: uri
            contract_token_url:
              type: string
              format: uri
            marketplace:
              type: string
            collection_url:
              type: string
              format: uri
            marketplace_url:
              type: string
              format: uri
          additionalProperties: true
        news:
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
        trends:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        source:
          type: object
          properties:
            raw_site_data_url:
              type: string
              format: uri
            agent_api_url:
              type: string
              format: uri
          additionalProperties: false
      additionalProperties: false
    AgentContext:
      type: object
      required:
      - summary
      - why_it_matters
      - use_cases
      - economic_note
      properties:
        summary:
          type: string
        why_it_matters:
          type: string
        use_cases:
          type: array
          items:
            type: string
        economic_note:
          type: string
      additionalProperties: false
    ErrorResponse:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
        code:
          type: integer
      additionalProperties: true
    Attribute:
      type: object
      required:
      - trait_type
      - value
      properties:
        display_type:
          type: string
        trait_type:
          type: string
        value:
          anyOf:
          - type:
            - string
            - 'null'
          - type: number
          - type: integer
          - type: boolean
      additionalProperties: false
    IndexResponse:
      type: object
      required:
      - project
      - schema
      - description
      - agent_context
      - schema_url
      - links
      - collection
      - first_day
      - latest_day
      - total_days
      - count
      - traversal
      - items
      properties:
        project:
          type: string
          example: WAODAO
        schema:
          type: string
          example: waodao-index@1
        description:
          type: string
        agent_context:
          $ref: '#/components/schemas/AgentContext'
        schema_url:
          type: string
          format: uri
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
        collection:
          type: object
          properties:
            type:
              type: string
            nft_contract:
              type: string
            chain:
              type: string
            marketplace:
              type: string
            marketplace_url:
              type: string
              format: uri
          additionalProperties: false
        first_day:
          type:
          - integer
          - 'null'
        latest_day:
          type:
          - integer
          - 'null'
        total_days:
          type: integer
          minimum: 0
        count:
          type: integer
          minimum: 0
        traversal:
          type: object
          properties:
            start_day:
              type:
              - integer
              - 'null'
            end_day:
              type:
              - integer
              - 'null'
            strategy:
              type: string
          additionalProperties: false
        items:
          type: array
          items:
            $ref: '#/components/schemas/IndexItem'
      additionalProperties: false
    NewsItem:
      type: object
      required:
      - region
      - key
      - text
      - url
      properties:
        region:
          type: string
        key:
          type: string
        text:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
          description: Absolute source URL when available; an empty string means no source URL was supplied.
      additionalProperties: false
    IndexItem:
      type: object
      required:
      - day
      - date
      - timestamp
      - name
      - metadata_url
      - external_url
      - marketplace_url
      - sale_status
      - sale_type
      - winner_bid_eth
      - raw_site_data_url
      - image
      - real_artwork
      - bonus_tokens
      - prev_day
      - next_day
      - region
      - main_color
      - main_color_name
      - twitter_trend
      - trending_crypto
      - trending_nft
      - new_coin
      - secret_hash
      properties:
        day:
          type: integer
          minimum: 1
          example: 1
        date:
          type:
          - string
          - 'null'
          format: date
        timestamp:
          type:
          - integer
          - 'null'
        name:
          type: string
          example: 'WAO ART #1'
        metadata_url:
          type: string
          format: uri
        external_url:
          type: string
          format: uri
        marketplace_url:
          type: string
          format: uri
        sale_status:
          type: string
          enum:
          - active
          - unsold
          - sold
          - airdrop
        sale_type:
          type:
          - string
          - 'null'
          enum:
          - auction
          - airdrop
        winner_bid_eth:
          type:
          - string
          - 'null'
        raw_site_data_url:
          type: string
          format: uri
        image:
          type:
          - string
          - 'null'
          format: uri
        real_artwork:
          type: boolean
        bonus_tokens:
          type:
          - integer
          - 'null'
        prev_day:
          type:
          - integer
          - 'null'
        next_day:
          type:
          - integer
          - 'null'
        region:
          type:
          - string
          - 'null'
        main_color:
          type:
          - string
          - 'null'
        main_color_name:
          type:
          - string
          - 'null'
        twitter_trend:
          type:
          - string
          - 'null'
        trending_crypto:
          type:
          - string
          - 'null'
        trending_nft:
          type:
          - string
          - 'null'
        new_coin:
          type:
          - string
          - 'null'
        secret_hash:
          type:
          - string
          - 'null'
      additionalProperties: false
externalDocs:
  description: WAODAO Agent API documentation and getting started guide
  url: https://waodao.ai/ai-agents
x-refined-from:
- waodao-agent-api-openapi-3.0.json
- waodao-agent-api-openapi.json
