openapi: 3.2.0
info:
  title: Waodao Schema API
  version: 1.0.0
  contact:
    name: WAODAO
    url: https://waodao.ai/ai-agents
    email: info@waodao.ai
  description: 'Operations tagged Schema across 2 of this provider''s published API definitions: waodao-agent-api-openapi-3.0.json, waodao-agent-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://waodao.ai
  description: WAODAO production API
security: []
tags:
- name: Schema
  description: Read WAODAO-specific field semantics and discovery links.
paths:
  /api/v1/waodao/schema:
    servers:
    - url: https://waodao.ai
      description: WAODAO production API
    get:
      operationId: getAgentApiSchema
      x-capability: waodao.schema.read
      tags:
      - Schema
      summary: Describe WAODAO Agent API fields
      description: Returns WAODAO-specific field semantics and links to every API and discovery surface.
      responses:
        '200':
          description: WAODAO Agent API field guide.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaResponse'
              examples:
                live:
                  summary: Live WAODAO response
                  externalValue: https://waodao.ai/api/v1/waodao/schema
components:
  schemas:
    AgentContext:
      type: object
      required:
      - summary
      - why_it_matters
      - use_cases
      - economic_note
      properties:
        summary:
          type: string
        why_it_matters:
          type: string
        use_cases:
          type: array
          items:
            type: string
        economic_note:
          type: string
      additionalProperties: false
    SchemaResponse:
      type: object
      required:
      - schema
      - description
      - endpoints
      - agent_context
      - fields
      properties:
        schema:
          type: string
          example: waodao-agent-api@1
        description:
          type: string
        endpoints:
          type: object
          description: Absolute URLs and URI templates for API and discovery resources.
          additionalProperties:
            type: string
        agent_context:
          $ref: '#/components/schemas/AgentContext'
        fields:
          type: object
          additionalProperties:
            type: string
      additionalProperties: false
externalDocs:
  description: WAODAO Agent API documentation and getting started guide
  url: https://waodao.ai/ai-agents
x-refined-from:
- waodao-agent-api-openapi-3.0.json
- waodao-agent-api-openapi.json
