openapi: 3.2.0
info:
  title: Waodao Token Metadata API
  version: 1.0.0
  contact:
    name: WAODAO
    url: https://waodao.ai/ai-agents
    email: info@waodao.ai
  description: 'Operations tagged Token Metadata across 2 of this provider''s published API definitions: waodao-agent-api-openapi-3.0.json, waodao-agent-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://waodao.ai
  description: WAODAO production API
security: []
tags:
- name: Token Metadata
  description: Read agent-friendly metadata for a published WAODAO day.
paths:
  /api/v1/waodao/latest:
    servers:
    - url: https://waodao.ai
      description: WAODAO production API
    get:
      operationId: getLatestArtChainDay
      x-capability: waodao.artchain.latest.read
      tags:
      - Token Metadata
      summary: Get the latest published WAODAO day
      description: Returns the same metadata shape as the token endpoint for the newest published ArtChain day.
      responses:
        '200':
          description: Latest published token metadata.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              examples:
                live:
                  summary: Live WAODAO response
                  externalValue: https://waodao.ai/api/v1/waodao/latest
        '404':
          description: No published days were found.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: No published WAODAO days found
                code: 404
  /api/v1/waodao/token/{day}:
    servers:
    - url: https://waodao.ai
      description: WAODAO production API
    get:
      operationId: getArtChainDay
      x-capability: waodao.artchain.token.read
      tags:
      - Token Metadata
      summary: Get metadata for one WAODAO day
      description: Returns OpenSea-compatible NFT metadata plus WAODAO traversal, market, news, trend, and source blocks. Paid auction transfers use market.sale_transaction_url; NFT airdrops use market.drop_transaction_url.
      parameters:
      - name: day
        in: path
        required: true
        description: Published ArtChain day number and NFT token ID.
        schema:
          type: integer
          minimum: 1
          example: 1
      responses:
        '200':
          description: Agent-friendly metadata for the requested day.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              examples:
                live:
                  summary: Live WAODAO response
                  externalValue: https://waodao.ai/api/v1/waodao/token/1
        '400':
          description: The day path parameter is missing or invalid.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Day is required
                code: 400
        '404':
          description: The requested day is not published.
          headers:
            Access-Control-Allow-Origin:
              description: Public cross-origin access is enabled.
              schema:
                type: string
                example: '*'
            Cache-Control:
              description: Public caching guidance for this response.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Day not found
                code: 404
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
        code:
          type: integer
      additionalProperties: true
    NewsItem:
      type: object
      required:
      - region
      - key
      - text
      - url
      properties:
        region:
          type: string
        key:
          type: string
        text:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
          description: Absolute source URL when available; an empty string means no source URL was supplied.
      additionalProperties: false
    TokenResponse:
      type: object
      required:
      - project
      - schema
      - schema_url
      - day
      - date
      - timestamp
      - name
      - description
      - image
      - external_url
      - real_artwork
      - bonus_tokens
      - links
      - attributes
      - waodao
      - market
      - news
      - trends
      - source
      properties:
        project:
          type: string
          example: WAODAO
        schema:
          type: string
          example: waodao-token@1
        schema_url:
          type: string
          format: uri
        day:
          type: integer
          minimum: 1
          example: 1
        date:
          type:
          - string
          - 'null'
          format: date
        timestamp:
          type:
          - integer
          - 'null'
        name:
          type: string
          example: 'WAO ART #1'
        description:
          type: string
        image:
          type:
          - string
          - 'null'
          format: uri
        external_url:
          type: string
          format: uri
        real_artwork:
          type: boolean
        bonus_tokens:
          type:
          - integer
          - 'null'
        links:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
            format: uri
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
        waodao:
          type: object
          properties:
            schema:
              type: string
            schema_url:
              type: string
              format: uri
            version:
              type: string
            type:
              type: string
            day:
              type: integer
            links:
              type: object
              additionalProperties:
                type:
                - string
                - 'null'
                format: uri
            hashes:
              type: object
              additionalProperties:
                type:
                - string
                - 'null'
          additionalProperties: true
        market:
          type: object
          properties:
            chain:
              type: string
            chain_id:
              type: integer
            contract:
              type: string
            token_id:
              type: string
            sale_status:
              type: string
            sale_type:
              type:
              - string
              - 'null'
            winner_bid_eth:
              type:
              - string
              - 'null'
            collector_address:
              type:
              - string
              - 'null'
            sale_transaction_url:
              type:
              - string
              - 'null'
              format: uri
            drop_transaction_url:
              type:
              - string
              - 'null'
              format: uri
            contract_token_url:
              type: string
              format: uri
            marketplace:
              type: string
            collection_url:
              type: string
              format: uri
            marketplace_url:
              type: string
              format: uri
          additionalProperties: true
        news:
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
        trends:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        source:
          type: object
          properties:
            raw_site_data_url:
              type: string
              format: uri
            agent_api_url:
              type: string
              format: uri
          additionalProperties: false
      additionalProperties: false
    Attribute:
      type: object
      required:
      - trait_type
      - value
      properties:
        display_type:
          type: string
        trait_type:
          type: string
        value:
          anyOf:
          - type:
            - string
            - 'null'
          - type: number
          - type: integer
          - type: boolean
      additionalProperties: false
externalDocs:
  description: WAODAO Agent API documentation and getting started guide
  url: https://waodao.ai/ai-agents
x-refined-from:
- waodao-agent-api-openapi-3.0.json
- waodao-agent-api-openapi.json
